<script id="bady" type="text/template"> 
	
	<!--<embed src="audio/1-music.mp3" type=""   id="muse"/>-->
	<audio id="Jaudio" class="media-audio" src="audio/1-music.mp3" preload loop="loop">
	</audio>
	<div class="bady_d">
		<div id="clamp">
			<div id="clamp_d">
				<div class="jia">
					<div id="j"></div>
				</div>
				<div id="jia_ww"></div>
			</div>
		</div>"
		<!--<img src="img/clip_2.png" class="clamp">-->
		<!--娃娃-->
		<div id="wawa">
			<div class="wawa_d">
				<div id="now">
					<div class="now_line" index="1"></div>
					<div class="now_line" index="2"></div>
				</div>
				<div id="n">
					<div class="nl" index="1"></div>
					<div class="nl" index="2"></div>
				</div>
			</div>			
		</div>
		
		<!--娃娃 end-->
		<div class="member">
			会员ID:<em>1681020</em>
		</div>
		<div class="tall"></div>
		<div class="tall_two"></div>
		<!--余额 兑换-->
		<div class="convert">
			<div class="blance">
				<em>
				余额:<span id="species">100</span>
				</em>
				<img src="img/plus.png"/ class="add_m">				
			</div>
			<button class="exchange"></button>
		</div>
		<div id="rules">
			<div class="complain1"></div>
			<div class="complain2"></div>
			<div class="complain3"></div>
		</div>		
		<!--余额 兑换 end-->
		<!--中奖提示-->
		<div id="bgg">
			<div class="hint">
				<ul class="hint_list">
					<li>ID<em>12336665</em>恭喜获得奖金红包<span>1</span>金币，继续努力哦~</li>
					<li>ID<em>12336665</em>恭喜获得奖金红包<span>2</span>金币，继续努力哦~</li>
					<li>ID<em>12336665</em>恭喜获得奖金红包<span>3</span>金币，继续努力哦~</li>
					<li>ID<em>12336665</em>恭喜获得奖金红包<span>1</span>金币，继续努力哦~</li>
				</ul>			
			</div>
			<!--中奖提示 end-->
			<!--按钮-->
			<div class="begins">
				<ul class="b_lists">
					<li></li>
					<li></li>
					<li></li>
				</ul>
				<ul class="tall_lists">
					<li></li>
					<li></li>
					<li></li>
				</ul>
				<span class="begin"></span>
				<span class="chest"></span>
			</div>
			<!--按钮 end-->
		</div>		
		<div id="tall_bgg">
			<div class="tall_hint">
				<ul class="tall_hint_list">
					<li>ID<em>12336665</em>恭喜获得奖金红包<span>1</span>金币，继续努力哦~</li>
					<li>ID<em>12336665</em>恭喜获得奖金红包<span>2</span>金币，继续努力哦~</li>
					<li>ID<em>12336665</em>恭喜获得奖金红包<span>3</span>金币，继续努力哦~</li>
					<li>ID<em>12336665</em>恭喜获得奖金红包<span>1</span>金币，继续努力哦~</li>
				</ul>				
			</div>
			<!--中奖提示 end-->
			<!--按钮-->
			<div class="tall_begins">
				<ul class="tall_b_lists">
					<li></li>
					<li></li>
					<li></li>
				</ul>
				<span class="tall_begin"></span>
				<span class="tall_chest"></span>
			</div>
			<!--按钮 end-->
		</div>
		<!--没有夹中弹窗-->
		<div class="noclip">
			<div class="noclip_d">
				<div class="noclip_c">
					<h2>很遗憾, 没有夹中哦！</h2>
					<p>获得随机金币<em class="nomoney">3</em>金币<br>（请再接再厉）</p>
					<div class="nc_bt1"></div>
					<a href="#/agency" class="nc_bt2"><img src="img/button2.png"/></a>
				</div>
			</div>
		</div>
		<!--没有夹中弹窗end-->
		<!--夹中弹窗end-->
		<div class="clip">
			<div class="clip_d">
				<div class="clip_c">
					<h2>恭喜你, 夹中娃娃啦！</h2>
					<p>获得娃娃金币<em class="money">128</em>金币<br>（请再接再厉）</p>
					<div class="c_bt1"></div>
					<a href="#/agency" class="c_bt2"><img src="img/button2.png"/></a>
				</div>
			</div>
			<div class="czao"></div>
		</div>
		<!--夹中弹窗end-->
		<!--开始提醒弹窗-->
		<div class="start_b">
			<div>点击<span class="begin_s"></span>夹娃娃</div>
		</div>
		<!--开始提醒弹窗 end-->
		<!--投诉弹窗-->
		<div class="complaint">
			<div class="complaint_d">
				<h3>请选择投诉该网页的原因</h3>
				<ul class="cl_list">
					<li>网页包含欺诈信息 (如假红包)<img src="img/back0.png"/></li>
					<li>网页包含色情信息<img src="img/back0.png"/></li>
					<li>网页包含暴力恐怖信息<img src="img/back0.png"/></li>
					<li>网页包含政治敏感信息<img src="img/back0.png"/></li>
					<li>网页在收集个人隐私信息 (如：钓鱼链接)<img src="img/back0.png"/></li>
					<li>网页包含诱导分享性质的内容<img src="img/back0.png"/></li>
					<li>网页可能包含耀眼信息<img src="img/back0.png"/></li>
				</ul>
				<p>遇到网页流量被劫持怎么办 <span class="open">返回</span></p>
				<em>投诉须知</em>
			</div>
		</div>
		<!--投诉弹窗 end-->
		<!--游戏规则-->
		<div class="rule">
			<div class="rule_d">
				<img src="img/shut.png" class="open">
			</div>
		</div>
		<!--游戏规则 end-->
		<!--客服-->
		<div class="add_servic">
			<div class="add_servic_d">
				<img src="img/shut.png" class="open">
				<div></div>
			</div>
		</div>
		<!--客服 end-->
		<!--自动弹出宝箱-->
		<div class="popupbox">
			<div class="occlude">赚够不玩啦</div>
			<div class="guize">规则</div>
			<ul class="shuoming">
				<img src="img/shut.png" / class="guanm">
				<li class="sm1">游戏规则</li>
				<li>1.游戏玩法：宝箱里有两个宝箱，任意打开一个宝箱即可呈现一个数字，猜猜另外一个宝箱中数字比他大或小。猜对则进入下一关，金币翻倍，猜错则金币清空，游戏结束</li>
				<li>2.宝箱游戏总共有10关，每关闯关成功可进入下一关，也可以选择退出，退出时领取当前金币。10关全部通过则完成通关，金币将放置您的账户，游戏结束。</li>
				<li>3.玩家可自行选择在任意一关退出，但一旦开始闯关(打开某个宝盒)后不可退出，否则金币清空，游戏结束。</li>
				<li>4.游戏过程中，玩家因任何原因自行退出，金币清空，游戏结束。</li>
			</ul>
			<div class="popupbox_d">				
				<span class="figure">5</span>
				<em class="double"></em>
				<p>猜对金币翻倍，猜错金币收走</p>
				<div class="scope">任选一个宝箱(内涵数字0-9)打开</div>
				
				<div class="popupbox_dv">
					<div class="popupone bao"></div>
					<div class="warn">点击宝箱开始闯关</div>
					<div class="popupthree bao"></div>
				</div>
				<div class="popupbox_op">
					<div class="boxone  clearbox1">
						<span class="guessl"></span>
					</div>
					<div class="boxtwo">
						<span class="big"></span>
						<span class="litle"></span>
					</div>
					<div class="boxthree clearbox2">
						<span class="guessr"></span>
					</div>
				</div>
				<div class="star">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>			
		</div>
		<!--自动弹出宝箱 end-->
		<!--兑换和充值-->
		<div id="recharge">
			<div class="recharge1">
				<img src="img/shut.png"/ class="guan">
				<div class="chtext">请先充值</div>
				<div class="chz chong1"></div>
				<div class="chz chong2"></div>
				<div class="chz chong3"></div>
				<div class="chz chong4"></div>
				<div class="chz chong5"></div>
			</div>			
		</div>
		<div id="trade">
			<div class="trade">
				<img src="img/shut.png"/ class="bi">
				<div class="duih">
					<div class="tixian">兑换中心</div>
					<form class="trandemoney">
						<input type="text" placeholder="请输入兑换金额"/>
						<div class="bt_trade"></div>
					</form>					
				</div>
				<div class="success">
					<div class="s_tixian">兑换成功</div>
					<p class="chas">您的兑换订单已经提交至系统处理，请 注意查收账户收入~</p>
					<div class="jix"></div>
				</div>
				<div class="shib">
					<div class="sb_tixian">兑换失败</div>
					<p class="sb_chas">您的可兑换数额不足或者系统错误，请 稍后重新尝试兑换~</p>
					<div class="sb_jix"></div>
				</div>
			</div>
		</div>
		<!--兑换和充值 end-->
	</div>
</script>

<!--记录-->
<script id="income" type="text/template">
	<div class="income_d">
		<div class="ic_member">
			会员ID:<em>1681020</em>
		</div>
		<div class="ic_tix">
			<div class="blance">
				<em>余额:<span id="ic_species">100</span></em>
				<img src="img/plus.png"/ class="add_m">				
			</div>
			<span class="exchange"></span>
		</div>
		<!--夹娃娃记录-->
		<div class="bady_income">
			<h1>夹娃娃记录</h1>
			<ul>
				<li><span>时间</span><em>投注金额</em><var>中奖金额</var></li>
				<li><span>2017/15/12  08:00:42 </span><em>5金币</em><var>5.55金币</var></li>
				<li><span>2017/5/12  08:00:42 </span><em>5金币</em><var>5.55金币</var></li>
				<li><span>2017/5/12  08:00:42 </span><em>5金币</em><var>5.55金币</var></li>
				<li><span>2017/5/12  08:00:42 </span><em>5金币</em><var>5.55金币(夹空)</var></li>
				<li><span>2017/5/12  08:00:42 </span><em>5金币</em><var>5.55金币</var></li>
				<li><span>2017/5/12  08:00:42 </span><em>5金币</em><var>5.55金币(夹空)</var></li>
				<li><span>2017/5/12  08:00:42 </span><em>5金币</em><var>5.55金币</var></li>
				<li><span>2017/5/12  08:00:42 </span><em>5金币</em><var>5.55金币(夹空)</var></li>
				<li><span>2017/5/12  08:00:42 </span><em>5金币</em><var>5.55金币</var></li>
				<li><span>2017/5/12  08:00:42 </span><em>5金币</em><var>5.55金币</var></li>
			</ul>
		</div>
		<div id="ic_bgg">
			<div class="recharge1">
				<img src="img/shut.png"/ class="guan">
				<div class="chtext">请先充值</div>
				<div class="chz chong1"></div>
				<div class="chz chong2"></div>
				<div class="chz chong3"></div>
				<div class="chz chong4"></div>
				<div class="chz chong5"></div>
			</div>
			<div class="trade">
				<img src="img/shut.png"/ class="bi">
				<div class="duih">
					<div class="tixian">兑换中心</div>
					<form class="trandemoney">
						<input type="text" placeholder="请输入兑换金额"/ class="ipt">
						<div class="bt_trade"></div>
					</form>					
				</div>
				<div class="success">
					<div class="s_tixian">兑换成功</div>
					<p class="chas">您的兑换订单已经提交至系统处理，请 注意查收账户收入~</p>
					<div class="jix"></div>
				</div>
				<div class="shib">
					<div class="sb_tixian">兑换失败</div>
					<p class="sb_chas">您的可兑换数额不足或者系统错误，请 稍后重新尝试兑换~</p>
					<div class="sb_jix"></div>
				</div>
			</div>
		</div>
		<!--夹娃娃记录 end-->
	</div>
</script>
<!--记录 end-->

<!--查询-->
<script id="refer" type="text/template"> 
	<div class="refer_d">
		<div class="rf_member">
			会员ID:<em>1681020</em>
		</div>
		<div class="rf_tix">
			<div class="blance">
				<em>余额:<span id="rf_species">100</span></em>
				<img src="img/plus.png"/ class="add_m">				
			</div>
			<span class="exchange"></span>
		</div>
		<!--查询记录-->
		<div class="bady_refer">
			<h1>查询</h1>
			<ul>
				<li>您的余额：￥<span class="change_y">10000</span><em class="change"></em></li>
				<li>您的收入：￥<span class="change_s">8000</span><em class="change"></em></li>
				<li>充值记录<em></em></li>
				<li>兑换记录<em></em></li>
				<li>收入记录<em></em></li>
				<li>夹娃娃记录<em id="icom"></em></li>
				<li>代理收入榜<em></em></li>
				<li>夹娃娃收入排行<em></em></li>
			</ul>
		</div>
		<!--弹窗-->
		<div id="rf_bgg">
			<div class="recharge1">
				<img src="img/shut.png"/ class="guan">
				<div class="chtext">请先充值</div>
				<div class="chz chong1"></div>
				<div class="chz chong2"></div>
				<div class="chz chong3"></div>
				<div class="chz chong4"></div>
				<div class="chz chong5"></div>
			</div>
			<div class="trade">
				<img src="img/shut.png"/ class="bi">
				<div class="duih">
					<div class="tixian">兑换中心</div>
					<form class="trandemoney">
						<input type="text" placeholder="请输入兑换金额"/ class="ipt">
						<div class="bt_trade"></div>
					</form>					
				</div>
				<div class="success">
					<div class="s_tixian">兑换成功</div>
					<p class="chas">您的兑换订单已经提交至系统处理，请 注意查收账户收入~</p>
					<div class="jix"></div>
				</div>
				<div class="shib">
					<div class="sb_tixian">兑换失败</div>
					<p class="sb_chas">您的可兑换数额不足或者系统错误，请 稍后重新尝试兑换~</p>
					<div class="sb_jix"></div>
				</div>
			</div>
		</div>
		<!--查询记录 end-->
	</div>
</script>
<!--查询  end-->

<!--代理-->
<script id="agency" type="text/template"> 
	<div class="agency_d">
		<div class="ag_member">
			会员ID:<em>1681020</em>
		</div>
		<div class="ag_tix">
			<div class="blance">
				<em>余额:<span id="ag_species">100</span></em>
				<img src="img/plus.png"/ class="add_m">				
			</div>
			<span class="exchange"></span>
		</div>
		<!--代理记录-->
		<div class="bady_agency">
			<h1>长按下图二维码保存到手机 </h1>
			<p>并转享给好友获取收入</p>
			<div class="agency_bt1 tbnt"></div>
			<div class="agency_bt2 tbnt"></div>
			<div class="agency_bt3 tbnt"></div>
		</div>
		<!--代理记录 end-->
		<div id="agb">
		<!--生成二维码-->
			<div class="abgd">
				<img src="img/shut.png" class="ag_close"/>
		<!--生成二维码 end-->
				<div class="create_d">
					<div></div>
					<p>长按保存二维码</p>
				</div>				
		<!--团队-->
				<div class="team_d">
					<div class="team_bt1">一级代理：<sapn>5</sapn></div>
					<div class="team_bt2">二级代理：<sapn>10</sapn></div>
					<div class="team_bt3">三级代理：<sapn>15</sapn></div>
				</div>
		<!--团队end-->
		<!--关注二维码-->
				<div class="attention_d">
					<h1>关注我们：第一时间获取最新消息</h1>
					<div></div>
					<p>长按保存二维码</p>
				</div>
			</div>
		<!--关注二维码 end-->
		</div>
		
		
		
		<!--充值弹窗-->
		<div id="ag_bgg">
			<div class="recharge1">
				<img src="img/shut.png"/ class="guan">
				<div class="chtext">请先充值</div>
				<div class="chz chong1"></div>
				<div class="chz chong2"></div>
				<div class="chz chong3"></div>
				<div class="chz chong4"></div>
				<div class="chz chong5"></div>
			</div>
			<div class="trade">
				<img src="img/shut.png"/ class="bi">
				<div class="duih">
					<div class="tixian">兑换中心</div>
					<form class="trandemoney">
						<input type="text" placeholder="请输入兑换金额"/ class="ipt">
						<div class="bt_trade"></div>
					</form>					
				</div>
				<div class="success">
					<div class="s_tixian">兑换成功</div>
					<p class="chas">您的兑换订单已经提交至系统处理，请 注意查收账户收入~</p>
					<div class="jix"></div>
				</div>
				<div class="shib">
					<div class="sb_tixian">兑换失败</div>
					<p class="sb_chas">您的可兑换数额不足或者系统错误，请 稍后重新尝试兑换~</p>
					<div class="sb_jix"></div>
				</div>
			</div>
		</div>
		<!--充值弹窗 end-->
	</div>
</script>
<!--代理 end-->

<!--客服-->
<script id="service" type="text/template"> 
	<div class="service_d">
		<div class="sv_member">
			会员ID:<em>1681020</em>
		</div>
		<div class="sv_tix">
			<div class="blance">
				<em>余额:<span id="sv_species">100</span></em>
				<img src="img/plus.png"/ class="add_m">				
			</div>
			<span class="exchange"></span>
		</div>
		<div class="sv_line">
			<h2>在线客服竭诚为您服务</h2>
			<h1>客服在线时间：00:00-24:00</h1>			
			<div></div>
			<p>扫描上方二维码为您服务</p>
		</div>
	</div>
	<!--充值弹窗-->
		<div id="sv_bgg">
			<div class="recharge1">
				<img src="img/shut.png"/ class="guan">
				<div class="chtext">请先充值</div>
				<div class="chz chong1"></div>
				<div class="chz chong2"></div>
				<div class="chz chong3"></div>
				<div class="chz chong4"></div>
				<div class="chz chong5"></div>
			</div>
			<div class="trade">
				<img src="img/shut.png"/ class="bi">
				<div class="duih">
					<div class="tixian">兑换中心</div>
					<form class="trandemoney">
						<input type="text" placeholder="请输入兑换金额"/ class="ipt">
						<div class="bt_trade"></div>
					</form>					
				</div>
				<div class="success">
					<div class="s_tixian">兑换成功</div>
					<p class="chas">您的兑换订单已经提交至系统处理，请 注意查收账户收入~</p>
					<div class="jix"></div>
				</div>
				<div class="shib">
					<div class="sb_tixian">兑换失败</div>
					<p class="sb_chas">您的可兑换数额不足或者系统错误，请 稍后重新尝试兑换~</p>
					<div class="sb_jix"></div>
				</div>
			</div>
		</div>
		<!--充值弹窗 end-->
</script>
<!--客服 end-->