html,body{	
	overflow-x: hidden;
	height: 100%;
	position: relative;	
}

.personal-order{
	height: 100%;
	position: relative;
	background: #f7f7f7;
}

.order{
	width: 100%;
	height: 1.2344rem;
	border-bottom:1px solid #dddddd;
	padding:0 0.3125rem;
	box-sizing: border-box;
	background: #fff;
}

.order>a img{
	width: 0.25rem;
	display:inline-block;
	position:absolute;
	left:0.3906rem;	
	top:0.3906rem;
}

.order>span{
	width: 100%;
	height: 1.2344rem;
	display:inline-block;
	line-height: 1.2344rem;
	text-align:center;
	font-size: 0.4375rem;
	font-weight: bold;
}


.personal-order_d1{
	width:100%;
	height: 1.0938rem;
	background: #fff;
}

.personal-order_d1>a{
	display: inline-block;
	float: left;
	width:25%;
	line-height: 1.0938rem;
	font-size: 0.3438rem;
	text-align: center;
	box-sizing: border-box;
}

.personal-order_d1 .activ{
	border-bottom:2px solid #ff2150;	
}

.personal-order_ls1{
	border:1px solid #dddddd;
	background: #fff;
	height: 4.6562rem;
	margin:0.2812rem 0.3125rem;
}

.personal-order_ls1>li:nth-child(1){
	height: 0.9375rem;
	line-height: 0.9375rem;
	border-bottom:1px solid #dddddd;
	padding:0 0.3125rem;
	font-size: 0.3438rem;
}

.personal-order_ls1>li:nth-child(1) img{
	width: 0.1562rem;
	display: inline-block;
	margin-top: 0.2812rem;
	margin-left:0.2812rem;
}

.personal-order_ls1>li:nth-child(1) span{
	float: right;
	color: #ff2150;
}

.personal-order_ls1>li:nth-child(2){
	display: flex;;
	height: 1.7031rem;
	border-bottom:1px solid #dddddd;
	padding:0.2344rem 0.3281rem;
	box-sizing: border-box;
	font-size: 0.3438rem;
}

.personal-order_ls1>li:nth-child(2)>div>p{
	color: #999999;
}


.ls1_d1 img{
	width: 1.25rem;
}

.ls1_d2{
	flex:1;
	margin-left: 0.3125rem;
	font-size: 0.3125rem;
}

.ls1_d3{
	width: 1.2188rem;
	font-size: 0.3438rem;
	margin-left:0.625rem;
	color:#a7a7a7;
	text-align: right;
}

.ls1_d3  li em{
	color: #ff2150;
}

.ls1_d3  li span{
	display: inline-block;
}

.personal-order_ls1>li:nth-child(3){
	height: 0.9531rem;
	border-bottom: 1px solid #dddddd;
	line-height: 0.9531rem;
	padding:0 0.3125rem;
	box-sizing: border-box;
}

.personal-order_ls1>li:nth-child(3) p{
	float: right;
	font-size: 0.3438rem;
}

.personal-order_ls1>li:nth-child(3) p span{
	color: #ff2150;
}

.personal-order_ls1>li:nth-child(4){
	height: 1.0156rem;
	padding:0 0.3125rem;
	box-sizing: border-box;
	line-height: 1.0156rem;
	font-size: 0.3125rem;
}

.personal-order_ls1>li:nth-child(4) img{
	width:0.3125rem;
	display: inline-block;
	margin-top: 0.3125rem; 
}

.personal-order_ls1>li:nth-child(4) button{
	float: right;
}

.bt1{
	display: block;
	width:1.8438rem;
	height: 0.5625rem; 
	height: 0.5625rem;
	border:1px solid #dddddd;
	text-align: center;
	margin-right: 0.1562rem;
	font-size: 0.3125rem;
	background: #fff;
	margin-top:0.2188rem;
	border-radius:0.0625rem;
}

.bt2{
	width:1.8438rem;
	height: 0.5625rem;
	line-height: 0.5625rem; 
	border:0;
	text-align: center;
	background: #ff2150;
	color: #fff;
	margin-top:0.2188rem;
	border-radius:0.0625rem;
}



.personal-order_ls2{
	border:1px solid #dddddd;
	background: #fff;
	height: 4.6562rem;
	margin:0.2812rem 0.3125rem;
}

.personal-order_ls2>li:nth-child(1){
	height: 0.9375rem;
	line-height: 0.9375rem;
	border-bottom:1px solid #dddddd;
	padding:0 0.3125rem;
	font-size: 0.3438rem;
}

.personal-order_ls2>li:nth-child(1) img{
	width: 0.1562rem;
	display: inline-block;
	margin-top: 0.2812rem;
	margin-left:0.2812rem;
}

.personal-order_ls2>li:nth-child(1) span{
	float: right;
	color: #ff2150;
}

.personal-order_ls2>li:nth-child(2){
	display: flex;
	height: 1.7031rem;
	border-bottom:1px solid #dddddd;
	padding:0.2344rem 0.3281rem;
	box-sizing: border-box;
	font-size: 0.3438rem;
}

.personal-order_ls2>li:nth-child(2)>div>p{
	color: #999999;
}


.ls2_d1>img{
	width: 1.25rem;
}

.ls2_d2{
	flex: 1;
	margin-left: 0.3125rem;
	font-size: 0.3125rem;
}

.ls2_d3{
	width: 1.2188rem;
	font-size: 0.3438rem;
	margin-left:0.625rem;
	color:#a7a7a7;
	text-align: right;
}

.ls2_d3 li:nth-child(2){
	color: #ff2150;
}

.personal-order_ls2>li:nth-child(3){
	height: 0.9531rem;
	border-bottom: 1px solid #dddddd;
	line-height: 0.9531rem;
	padding:0 0.3125rem;
	box-sizing: border-box;
}

.personal-order_ls2>li:nth-child(3) p{
	float: right;
	font-size: 0.3438rem;
}

.personal-order_ls2>li:nth-child(3) p span{
	color: #ff2150;
}

.personal-order_ls2>li:nth-child(4){
	height: 1.0156rem;
	padding:0 0.3125rem;
	box-sizing: border-box;
	line-height: 1.0156rem;
	font-size: 0.3125rem;
}

.personal-order_ls2>li:nth-child(4) img{
	width:0.3125rem;
	display: inline-block;
	margin-top: 0.3125rem; 
}

.personal-order_ls2>li:nth-child(4) button{
	float: right;
	display: block;
	width:2.4688rem;
	height: 0.5938rem; 
	border:0;
	text-align: center;
	margin-right: 0.1562rem;
	font-size: 0.3125rem;
	background: #fff;
	margin-top:0.2188rem;
	border-radius:0.0625rem;
	background: #ff2150;
	color: #fff;
}


.personal-order_ls3{
	border:1px solid #dddddd;
	background: #fff;
	height: 4.6562rem;
	margin:0.2812rem 0.3125rem;
}

.personal-order_ls3>li:nth-child(1){
	height: 0.9375rem;
	line-height: 0.9375rem;
	border-bottom:1px solid #dddddd;
	padding:0 0.3125rem;
	font-size: 0.3438rem;
}

.personal-order_ls3>li:nth-child(1) img{
	width: 0.1562rem;
	display: inline-block;
	margin-top: 0.2812rem;
	margin-left:0.2812rem;
}

.personal-order_ls3>li:nth-child(1) span{
	float: right;
	color: #ff2150;
}

.personal-order_ls3>li:nth-child(2){
	display: flex;
	height: 1.7031rem;
	border-bottom:1px solid #dddddd;
	padding:0.2344rem 0.3281rem;
	box-sizing: border-box;
	font-size: 0.3438rem;
}

.personal-order_ls3>li:nth-child(2)>div>p{
	color: #999999;
}

.ls3_d1 img{
	width: 1.25rem;
}

.ls3_d2{
	flex: 1;
	margin-left: 0.3125rem;
	font-size: 0.3125rem;
}

.ls3_d3{
	width: 1.2188rem;
	font-size: 0.3438rem;
	color:#a7a7a7;
	text-align: right;
}

.ls3_d3  li em{
	color: #ff2150;
}

.ls3_d3  li span{
	display: inline-block;
}

.personal-order_ls3>li:nth-child(3){
	height: 0.9531rem;
	border-bottom: 1px solid #dddddd;
	line-height: 0.9531rem;
	padding:0 0.3125rem;
	box-sizing: border-box;
}

.personal-order_ls3>li:nth-child(3) p{
	float: right;
	font-size: 0.3438rem;
}

.personal-order_ls3>li:nth-child(3) p span{
	color: #ff2150;
}

.personal-order_ls3>li:nth-child(4){
	height: 1.0156rem;
	padding:0 0.3125rem;
	box-sizing: border-box;
	line-height: 1.0156rem;
	font-size: 0.3125rem;
}

.personal-order_ls3>li:nth-child(4) img{
	width:0.3125rem;
	display: inline-block;
	margin-top: 0.3125rem; 
}

.personal-order_ls3>li:nth-child(4) button{
	float: right;
}

